# dependencies
node_modules

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
.idea
tmp
.blend
src/models/assembled17.glb
src/models/untitled.glb


# Local Netlify folder
.netlify
